.home{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
    background-image: url(https://thumbs.dreamstime.com/b/hat-sunglasses-sandy-beach-summer-background-hat-sunglasses-sandy-beach-summer-background-147844366.jpg);
}